.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

#card {
  width: 18rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;

  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 15rem;
    background-attachment: fixed;
  }

  button {
    background-color: #db1414;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin: 1rem;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #c01212;
  }
}

#card:hover {
  transform: scale(1.05);
}
